<div id="file-viewer" class="file-viewer">
    <div class="file-name-tab">
        <span class="file-name">main.rs</span>
    </div>
    <div class="numbered-file-contents">
        <div class="line-numbers">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
        </div>
        <div class="file-contents">
            <pre><code class="original">fn main() {
    println!("Hello, world!")    println!("Hello, world!")    println!("Hello, world!")     println!("Hello, world!")     println!("Hello, world!")
}</code><code class="copy">fn main() {
    println!("Hello, world!")    println!("Hello, world!")    println!("Hello, world!")     println!("Hello, world!")     println!("Hello, world!")
}</code></pre>
        </div>
    </div>
</div>
