<div id="file-viewer" class="file-viewer">
    <div class="file-name-tab">
        <span class="file-name">
            Use the
            <span class="material-icons-round md-i">account_tree</span>
            <strong>
                Explorer
            </strong>
            to open a file
        </span>
    </div>
    <div class="numbered-file-contents">
        <div class="line-numbers">
            <a href="#">1</a>
        </div>
        <div class="file-contents">
            <pre><code class="original"></code><code class="copy"></code></pre>
        </div>
    </div>
</div>
