{% macro explorer_directory(directory) %}
<li>
    <button>
        <span style="padding-left: calc(var(--list-padding) * ({{ directory.depth }} - 1));">{{ directory.name }}</span>
    </button>
    <ul>
        {% for dir in directory.directories %}
            {{ self::explorer_directory(directory = dir) }}
        {% endfor %}
        {% for file in directory.files %}
            {{ self::explorer_file(file = file) }}
        {% endfor %}
    </ul>
</li>
{% endmacro %}

{% macro explorer_file(file) %}
<li>
    <button class="file-button" data-url="{{ file.url }}">
        <span class="file-name" data-file-name="{{ file.name }}" style="padding-left: calc(var(--list-padding) * ({{ file.depth }} - 1));">{{ file.name }}</span>
    </button>
<li>
{% endmacro %}