<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href='{{guide.base_url | url_join(with="public/theme/style/style.css")}}' media="all">
    <link rel="stylesheet" href='{{guide.base_url | url_join(with="public/theme/syntax/ayu-dark.css")}}' media="all">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    {% include "main.html" %}
</body>
</html>
