{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>{{ page.title }}</title>
</head>

<body data-workspace-url='{{ page.page_url | url_join(with="workspace") }}'>
    <div id="wrapper">
        <header>
            <div>
                {% if page.previous_page != -1 %}
                    <a href="{{ page.base_url | url_join(with=page.previous_page) }}" title="TODO">←</a>
                {% else %}
                    <a href="#" title="TODO" class="disabled" aria-hidden="true">←</a>
                {% endif %}
                {% if page.next_page != -1 %}
                    <a href="{{ page.base_url | url_join(with=page.next_page) }}" title="TODO">→</a>
                {% else %}
                    <a href="#" title="TODO" class="disabled" aria-hidden="true">→</a>
                {% endif %}
            </div>
        </header>
        <div class="three-columns">
            <main id="page" class="markdown-body">{{ page.content | safe }}</main>
            <section id="file-viewer" class="closed">
                <div class="file-name"><span></span></div>
                <div class="code-viewer">
                    <div class="line-numbers">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </div>
                    <!-- `#code-block-bg is a duplicate of #code-block use for
                        alignment purposes when we want to highlight lines
                        without disturbing the syntax highlighting` -->
                    <pre><code id="code-block"></code><code id="code-block-bg"></code></pre>
                </div>
            </section>
            <section id="explorer">
                <h2>Explorer</h2>
                <ul>
                    {% for dir in page.workspace.directories %}
                        {{ macros::explorer_directory(directory = dir) }}
                    {% endfor %}
                    {% for file in page.workspace.files %}
                        {{ macros::explorer_file(file = file) }}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
    <script type="module" src="/public/theme/main.js"></script>
</body>

</html>

