.explorer {
    h2 {
        padding: 20px 20px 15px 20px;
    }
}

.explorer-entries {
    list-style: none;

    li > a, li > button {
        & > span {
            display: flex;
            align-items: center;

            & > * + *:not([class^="material-icons"]) {
                margin-left: 0.5em;
            }
        }

        & > span:not(.material-icons-round) {
            font-size: 0.85rem;
        }
    }

    // common button styling
    a, button {
        width: 100%;
        border: none;
        background-color: RGB(var(--explorer-entry-bg));
        color: RGB(var(--explorer-entry-fg));
        cursor: pointer;
        text-decoration: none;
        display: block;
        text-align: left;

        &:hover {
            background-color: RGB(var(--explorer-entry-bg-hover));
        }
    }

    li:not(.open) {
        & > ul {
            display: none;
        }
    }

    // directory icons
    .icon-open {
        display: none;
    }

    li.open {
        & > button .icon-closed {
            display: none;
        }

        & > button .icon-open {
            display: inline;
        }
    }
}
