.file-viewer {
    padding: 0px 20px 10px 20px;

    .file-name-tab {
        padding-top: 10px;
        position: sticky;
        top: 0;
        background-color: RGB(var(--body-bg));
        z-index: 100;
        margin-bottom: 10px;
    }

    .numbered-file-contents {
        display: flex;
        padding-top: 10px;
    }

    .line-numbers, code {
        font-family: monospace;
        font-size: 0.9rem;
        // align line numbers with content lines
        line-height: var(--file-viewer-line-height);
    }

    .file-contents, pre, code {
        min-width: 0;
        max-width: 100%;
    }

    .line-numbers {
        user-select: none;
        min-width: 35px;
        text-align: right;
        padding-right: 10px;
        flex-shrink: 0;
        a {
            display: block;
            width: 100%;
            font-size: 0.72em;
            text-decoration: none;
            color: var(--primary-color)
        }
    }

    pre {
        position: relative;
        overflow-x: auto;

        code {
            display: block;

            span {
                font-family: inherit;
            }
        }

        code.copy {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &, * {
                color: transparent !important;
            }
        }
    }

    .highlight {
        background-color: RGBA(var(--highlight-bg));
    }
}
