$explorer-hide-bp: 1000px;
$two-columns-bp: 620px;

// Properties use RGB(var(--variable)) instead of `rgb(var(--variable))` to prevent
// sass from parsing `rgb` as a sass function, otherwise we get a parsing error.
html {
    --header-height: 40px;
    --file-viewer-line-height: 1.2em;

    --body-bg: 222, 220, 217;
    --body-fg: 11, 20, 18;
    --primary-color: 34, 38, 46;
    --primary-color-fg: 255, 255, 255;
    --button-primary-bg: 59, 68, 82;
    --button-primary-fg: 255, 255, 255;
    --button-primary-bg-hover: 66, 130, 130;
    --button-primary-fg-hover: var(--button-primary-fg);
    --button-primary-disabled-bg: 26, 30, 38;
    --button-border-radius: 5px;

    --explorer-entry-bg: var(--body-bg);
    --explorer-entry-bg-hover: 200, 198, 186;
    --explorer-entry-fg: var(--body-fg);
    --explorer-entry-initial-margin: 20px;
    --explorer-entry-margin-per-depth: 10px;

    --offscreen-bg: var(--body-bg);
    --offscreen-dimmer-bg: 0, 0, 0;

    --md-code-bg: 199, 200, 201;
    --md-code-fg: var(--body-fg);
    --md-quote-border-bg: 50, 50, 69;
    --md-quote-fg: var(--md-quote-border-bg);

    --action-bg: var(--md-code-bg);
    --action-fg: var(--body-fg);

    --highlight-bg: var(--action-bg);
}

@mixin dark-vars {
    --body-bg: 27, 30, 34;
    --body-fg: 225, 227, 230;

    --explorer-entry-bg-hover: 85, 92, 104;

    --md-code-bg: 61, 66, 74;
    --md-quote-border-bg: 195, 198, 199;
    --md-quote-fg: 170, 176, 176;

    --normal-link: rgb(55, 171, 227);
    --visited-link: rgb(181, 146, 209);
}

@media screen and (prefers-color-scheme: dark) {
    html {
        @include dark-vars;
    }
}

html[data-theme="dark"] {
    @include dark-vars;
}
