@import "vars";

:root {
    // used from template
    --list-padding: 12px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: RGB(var(--body-bg));
    color: RGB(var(--body-fg));
}

@import "button";
@import "header";
@import "main";
@import "offscreen";
@import "index";
