$darker-color: rgb(22, 20, 27);
$dark-color: rgb(28, 25, 33);
$medium-color: rgb(52, 46, 65);
$white: rgb(255, 255, 255);

:root {
    // used from template
    --list-padding: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: $darker-color;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    padding: 0.4rem 1.5rem;
    justify-content: flex-end;

    div {
        display: flex;

        a {
            display: block;
            padding: 0.3em 0.6em;
            font-size: 1.1rem;
            background-color: $medium-color;
            color: $white;
            text-decoration: none;

            &.disabled {
                color: transparentize($white, 0.5);
                background-color: darken($color: $medium-color, $amount: 10%);
            }

            &:nth-child(1) {
                border-radius: 5px 0 0 5px;
            }

            &:nth-child(2) {
                border-radius: 0 5px 5px 0;
            }

            &:not(.disabled):hover {
                background-color: darken($color: $medium-color, $amount: 5%);
            }
        }
    }
}

.three-columns{
    display: flex;
    color: $white;
    min-height: 0;
    flex-grow: 1;

    & > * + * {
        margin-left: 10px;
    }

    #page {
        flex-grow: 1;
        padding: 1.5em;
        overflow-y: auto;
    }

    #file-viewer {
        width: calc(50% - 10px);
        flex-shrink: 0;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        min-height: 0;

        &.closed {
            display: none;
        }

        .file-name {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.4em 0;
            border-bottom: solid 5px $darker-color;

            span {
                color: white;
            }
        }

        .code-viewer {
            $line-height: 1.2em;

            display: flex;
            padding: 1em;
            width: 100%;
            overflow-y: auto;

            .line-numbers {
                min-width: 3em;
                line-height: $line-height;
                text-align: right;
                padding-right: 1em;
                user-select: none;

                a {
                    display: block;
                    font-size: 0.75em;
                    color: transparentize($color: $white, $amount: 0.5);
                    text-decoration: none;
                }
            }

            pre {
                color: white;
                flex-basis: 100%;
                height: 100%;
                min-width: 0;
                position: relative;

                code {
                    font-size: 1rem;
                    font-family: monospace;
                    line-height: $line-height;
                    display: block;
                    max-width: 100%;
                    overflow-x: auto;

                    * {
                        font-family: inherit;
                    }

                    &#code-block {
                        position: relative;
                        z-index: 10;
                    }

                    &#code-block-bg {
                        position: absolute;
                        left: 0;
                        top: 0;
                        color: transparent;
                        width: 100%;

                        .highlight {
                            width: 100%;
                            display: inline-block;
                            background-color: rgba(214, 189, 221, 0.4);
                        }
                    }
                }
            }
        }
    }

    #explorer {
        min-width: 15%;
        overflow-y: auto;

        h2 {
            padding: 1.5rem 1.5rem 0.75rem 1.5rem;
        }

        ul {
            width: 100%;
            list-style: none;
        }

        li {

            &.open {
                & > :not(ul) .folder-closed {
                    display: none;
                }
            }

            &:not(.open) {
                & > ul {
                    height: 0;
                    overflow: hidden;
                }

                & > :not(ul) .folder-open {
                    display: none;
                }
            }

            button, a {
                display: block;
                padding: 0.2em 1.5rem;
                width: 100%;
                color: inherit;
                background-color: transparent;
                border: none;
                text-align: left;
                text-decoration: none;
                font-size: 0.9rem;

                &:hover {
                    cursor: pointer;
                    background-color: $medium-color;
                }
            }

            span {
                display: flex;
                align-items: center;

                i {
                    margin-right: 0.35rem;
                }
            }
        }
    }

    & > * {
        background-color: $dark-color;
    }
}

a.disabled {
    pointer-events: none;
}

@import './markdown.scss';
